<div class="chat-list">
  <div class="chat-profile">{{profileText}}</div>
  <div class="chat-add">
    <span>{{newChatText}}</span>
  </div>
  <div class="chat-search">
    <input type="text" name="search" placeholder="поиск" value="" />
  </div>
  {{{chats}}}
</div>