body {
  background: black;
  font-family: "Arial";
}
.container {
  width: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  margin: auto;
}
.link404 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 60px 0px;
  font-size: 24px;
  color: white;
  text-decoration: underline;
  text-shadow: 1px 1px 1px red;
}
.glitch, .glow {
  color: #bfbfbf;
  position: relative;
  font-size: 34px;
  animation: glitch 5s 5s infinite;
  text-transform: uppercase;
  text-align: center;
}
.glitch::before, .glow::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  top: 0px;
  text-shadow: -5px 0 magenta;
  background: black;
  overflow: hidden;
  animation: animation1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}
.glitch::after, .glow::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  top: 0;
  text-shadow: -5px 0 lightgreen;
  background: black;
  overflow: hidden;
  animation: animation2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}
@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
 }
  2% {
    transform: rotateX(0deg) skewX(0deg);
 }
}
@keyframes animation1 {
  3.3333333333% {
    clip-path: inset(3px 0 26px 0);
 }
  6.6666666667% {
    clip-path: inset(76px 0 3px 0);
 }
  10% {
    clip-path: inset(29px 0 3px 0);
 }
  13.3333333333% {
    clip-path: inset(18px 0 63px 0);
 }
  16.6666666667% {
    clip-path: inset(41px 0 59px 0);
 }
  20% {
    clip-path: inset(24px 0 76px 0);
 }
  23.3333333333% {
    clip-path: inset(37px 0 1px 0);
 }
  26.6666666667% {
    clip-path: inset(43px 0 8px 0);
 }
  30% {
    clip-path: inset(89px 0 12px 0);
 }
  33.3333333333% {
    clip-path: inset(12px 0 56px 0);
 }
  36.6666666667% {
    clip-path: inset(89px 0 12px 0);
 }
  40% {
    clip-path: inset(44px 0 12px 0);
 }
  43.3333333333% {
    clip-path: inset(5px 0 24px 0);
 }
  46.6666666667% {
    clip-path: inset(27px 0 37px 0);
 }
  50% {
    clip-path: inset(76px 0 11px 0);
 }
  53.3333333333% {
    clip-path: inset(30px 0 48px 0);
 }
  56.6666666667% {
    clip-path: inset(11px 0 85px 0);
 }
  60% {
    clip-path: inset(7px 0 57px 0);
 }
  63.3333333333% {
    clip-path: inset(48px 0 10px 0);
 }
  66.6666666667% {
    clip-path: inset(67px 0 16px 0);
 }
  70% {
    clip-path: inset(24px 0 64px 0);
 }
  73.3333333333% {
    clip-path: inset(59px 0 29px 0);
 }
  76.6666666667% {
    clip-path: inset(64px 0 19px 0);
 }
  80% {
    clip-path: inset(53px 0 44px 0);
 }
  83.3333333333% {
    clip-path: inset(94px 0 3px 0);
 }
  86.6666666667% {
    clip-path: inset(26px 0 33px 0);
 }
  90% {
    clip-path: inset(29px 0 29px 0);
 }
  93.3333333333% {
    clip-path: inset(2px 0 39px 0);
 }
  96.6666666667% {
    clip-path: inset(80px 0 21px 0);
 }
  100% {
    clip-path: inset(36px 0 40px 0);
 }
}
@keyframes animation2 {
  0% {
    clip-path: inset(69px 0 32px 0);
 }
  3.3333333333% {
    clip-path: inset(43px 0 24px 0);
 }
  6.6666666667% {
    clip-path: inset(68px 0 9px 0);
 }
  10% {
    clip-path: inset(3px 0 23px 0);
 }
  13.3333333333% {
    clip-path: inset(100px 0 1px 0);
 }
  16.6666666667% {
    clip-path: inset(15px 0 25px 0);
 }
  20% {
    clip-path: inset(53px 0 2px 0);
 }
  23.3333333333% {
    clip-path: inset(27px 0 14px 0);
 }
  26.6666666667% {
    clip-path: inset(83px 0 8px 0);
 }
  30% {
    clip-path: inset(71px 0 26px 0);
 }
  33.3333333333% {
    clip-path: inset(88px 0 1px 0);
 }
  36.6666666667% {
    clip-path: inset(7px 0 67px 0);
 }
  40% {
    clip-path: inset(29px 0 55px 0);
 }
  43.3333333333% {
    clip-path: inset(36px 0 5px 0);
 }
  46.6666666667% {
    clip-path: inset(82px 0 1px 0);
 }
  50% {
    clip-path: inset(98px 0 1px 0);
 }
  53.3333333333% {
    clip-path: inset(89px 0 3px 0);
 }
  56.6666666667% {
    clip-path: inset(62px 0 10px 0);
 }
  60% {
    clip-path: inset(5px 0 11px 0);
 }
  63.3333333333% {
    clip-path: inset(63px 0 37px 0);
 }
  66.6666666667% {
    clip-path: inset(28px 0 26px 0);
 }
  70% {
    clip-path: inset(64px 0 4px 0);
 }
  73.3333333333% {
    clip-path: inset(32px 0 49px 0);
 }
  76.6666666667% {
    clip-path: inset(46px 0 12px 0);
 }
  80% {
    clip-path: inset(24px 0 30px 0);
 }
  83.3333333333% {
    clip-path: inset(95px 0 3px 0);
 }
  86.6666666667% {
    clip-path: inset(5px 0 72px 0);
 }
  90% {
    clip-path: inset(76px 0 6px 0);
 }
  93.3333333333% {
    clip-path: inset(77px 0 9px 0);
 }
  96.6666666667% {
    clip-path: inset(26px 0 23px 0);
 }
  100% {
    clip-path: inset(96px 0 4px 0);
 }
}
.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}
.scanlines::before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.05) 0.5%, transparent 1%);
  animation: fudge 7s ease-in-out alternate infinite;
}
@keyframes fudge {
  from {
    transform: translate(0px, 0px);
 }
  to {
    transform: translate(0px, 2%);
 }
}
.glow {
  text-shadow: 0 0 1000px #dfbfbf;
  color: transparent;
  position: absolute;
  top: 0;
}
.subtitle {
  font-family: Arial;
  font-weight: 100;
  font-size: 32px;
  color: rgba(165, 141, 141, .4);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  position: absolute;
  left: 17%;
  animation: animation3 5s 5.02s infinite;
}
@keyframes animation3 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
 }
  2% {
    transform: rotateX(0deg) skewX(0deg);
 }
}
