:root {
    --text-title-color: #1f1f1f;
    --text-label-color: #999999;
    --blue-color: #3369f3;
    --lightbg-grey-color: #fbfbfb;
    --input-bg-color: #efefef;
    --light-grey-line: #eaeaea;
    --select-chat-bg: #e4edfd;
}
.chat-profile {
    text-align: right;
    color: var(--text-label-color);
    justify-content: flex-end;
    font-family: Arial, Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    display: flex;
    padding: 12px 21px;
    background-color: var(--lightfill-grey-color);
}

.chat-search {
    display: flex;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 10px;
    background-color: var(--lightfill-grey-color);
}
.chat-search input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 8px 12px;
    display: flex;
    color: var(--text-label-color);
    background: var(--input-bg-color);
    background-image: url(search.svg);
    background-repeat: no-repeat;
    background-position: 2px center;
    text-align: center;
    transition: background .3s ease;
}
input:placeholder-shown {
    background-position: calc(50% - 28px) center;
}
.chat-search input:active, .chat-search input:focus{
    background-position: 2px center;
}
.chat-list {
    width: 310px;
    border-right: 1px solid var(--light-grey-line);
}
.chat-previw {
    display: flex;
    width: 310px;
    flex-direction: row;
    font-family: 'Inter';
    font-style: normal;
    padding: 10px 12px;
    font-family: Arial;
    background-color: var(--lightfill-grey-color);
    border-top: 1px solid var(--light-grey-line);
    box-sizing: border-box;
}
.chat-preview.active{
    background: #E4EDFD;
}
.chat-preview:hover{
    background: #E4EDFD;
}
.chat-preview__avatar {
    width: 48px;
    min-width: 48px;
    height: 48px;
    display: flex;
    background: #EFEFEF;
    border-radius: 50%;
}
.chat-preview__last-msg {
    color: var(--text-label-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 12px;
}
.chat-preview__lastname {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: var(--text-title-color);
    padding: 4px 0px;
}
.chat-preview__lasttext {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--text-label-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.chat-preview__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat-preview__time {
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    text-align: right;
    color: var(--text-label-color);
}
.chat-preview__mark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    color: white;
    border-radius: 50%;
    background-color: var(----blue-color);
}