<link rel="stylesheet" href="../../components/form_registration/form_registration.css">
<form id="auth" class="form-reg">
    <h2 class="form-reg__title">Регистрация</h2>
<label for="email">
    Почта
    <input type="text" value="" name="email" placeholder="pochta@yandex.ru" />
</label>
<label for="login">
    Логин
    <input type="text" value="" name="login" placeholder="ivanivanov" />
</label>
<label for="name">
    Имя
    <input type="text" value="" name="first_name" placeholder="Иван" />
</label>
<label for="surname">
    Фамилия
    <input type="text" value="" name="second_name" placeholder="Иванов" />
</label>
<label for="phone">
    Телефон
    <input type="text" value="" name="phone" placeholder="+7(909)967 30 30" />
</label>
<label for="pswd">
    Пароль
    <input type="password" name="password" />
</label>
<label for="pswd-confirm">
    Пароль (ещё раз)
    <input type="password" name="pswd-confirm" />
</label>

<button class="form-reg__btn">Зарегистрироваться</button>
<a class="form-reg__link" href="/" >Войти</a>
</form>