.form-reg__title {
    padding: 20px 120px;
    font-family: 'Arial','Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: var(--text-title-color);
}
.form-reg {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    font-family: 'Arial','Inter';
    font-style: normal;
    padding: 30px;
}

.form-reg label{
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: var(--text-label-color);
    box-sizing: border-box;
    padding: 10px 30px;
}
.form-reg input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--blue-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--text-title-color);
    box-sizing: border-box;
    padding: 8px 30px;
}
.form-reg__btn {
    background-color: var(--blue-color);
    padding: 0 200px;
    border: none;
    border-radius: 8px;
    padding: 10px 8px;
    color: white;
    margin-top: 80px;
    cursor: pointer;
}
.form-reg__link {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 12px 0px;
    color: var(--blue-color);
}